# Data retrieval through API

Based on NCHS - Leading Causes of Death: United States:
This dataset presents the age-adjusted death rates for the 10 leading causes of death in the United States beginning in 1999.Total number of records are 10,886. For the project, records from 2010 through 2017 have been included reducing the sample size to 4576 records by applying filtering ang paging criteria to the endpoint.
Data are based on information from all resident death certificates filed in the 50 states and the District of Columbia using demographic and medical characteristics. Age-adjusted death rates (per 100,000 population) are based on the 2000 U.S. standard population. Populations used for computing death rates after 2010 are postcensal estimates based on the 2010 census, estimated as of July 1, 2010. Rates for census years are based on populations enumerated in the corresponding censuses. Rates for non-census years before 2010 are revised using updated intercensal population estimates and may differ from rates previously published.
Causes of death classified by the International Classification of Diseases, Tenth Revision (ICD–10) are ranked according to the number of deaths assigned to rankable causes. Cause of death statistics are based on the underlying cause of death.

In [51]:
import os
import pandas as pd
import json
import requests
# from bs4 import BeautifulSoup
#from sodapy import Socrata

In [52]:
url = "https://data.cdc.gov/resource/bi63-dtpu.json?$where=year>=2010&$limit=4600"

In [53]:
loaded_json = requests.get(url).json()
# loaded_json

In [19]:
results_df = pd.DataFrame(loaded_json)
results_df.head()

,year,_113_cause_name,cause_name,state,deaths,aadr
0,2010,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2394,49.6
1,2010,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,366,58.7
2,2010,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,3018,46.7
3,2010,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1461,49.4
4,2010,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,California,10435,27.8

In [20]:
results_df.count()

year               4576
_113_cause_name    4576
cause_name         4576
state              4576
deaths             4576
aadr               4576
dtype: int64

In [50]:
death_cause=results_df.drop(columns='_113_cause_name')
death_cause.head()

   year              cause_name       state deaths  aadr
0  2010  Unintentional injuries     Alabama   2394  49.6
1  2010  Unintentional injuries      Alaska    366  58.7
2  2010  Unintentional injuries     Arizona   3018  46.7
3  2010  Unintentional injuries    Arkansas   1461  49.4
4  2010  Unintentional injuries  California  10435  27.8

# Web scraping coordinates of the states

In [22]:
url="https://www.latlong.net/category/states-236-14.html"
lat_lng = pd.read_html(url)

In [23]:
#Read the html table as dataframe
coordinates_df=lat_lng[0]
#Rename state column to cross-reference with death_cause dataset
coordinates_df=coordinates_df.rename(columns = {"Place Name" : "state"})
coordinates_df.Longitude.dtype

dtype('float64')

# Check the key (state) for merging and format its values for uniformity in both dfs

In [24]:
#Strip string(', the USA') from state to have identical values in both dataframes
coordinates_df['state']=coordinates_df['state'].str.split(',').str[0]
coordinates_df.head()

           state  Latitude   Longitude
0      Wisconsin      44.5  -89.500000
1  West Virginia      39.0  -80.500000
2        Vermont      44.0  -72.699997
3          Texas      31.0 -100.000000
4   South Dakota      44.5 -100.000000

In [25]:
#check length of unique values for state in death_cause df
states_death=death_cause['state'].unique()
len(states_death)
# states_death

52

In [26]:
#check length of unique values for state in coordinates_df
states_coord=coordinates_df['state'].unique()
len(states_coord)
# states_coord

50

In [27]:
#Check the difference in unique values in state column for both dataframe
list(set(states_death) - set(states_coord))

['Missouri', 'District of Columbia', 'United States']

In [28]:
#Drop United states from death_cause df (create a df that doesn't contain the specified value)
death_cause=death_cause[death_cause.state!='United States']
states_death=death_cause['state'].unique()
len(states_death)

51

In [29]:
# appending a new row for District of Columbia
# when values were passed as scalar, said "ValueError: If using all scalar values, you must pass an index”. 
# Hence, the values are passed as an array
dc_lat_lng = pd.DataFrame({"state":["District of Columbia"], 
                         "Latitude":[38.9072],
                        "Longitude":[-77.0369]}) 

coordinates_df=coordinates_df.append(dc_lat_lng, ignore_index=True)

In [30]:
#Change Missouri State to Missouri
coordinates_df=coordinates_df.replace("Missouri State", "Missouri")
states_coord=coordinates_df['state'].unique()
len(states_coord)

51

In [31]:
#Recheck for difference
list(set(states_death) - set(states_coord))

[]

In [32]:
#Merge the two dataframes
death_cause_with_coordinates=pd.merge(death_cause,coordinates_df, on='state')
death_cause_with_coordinates

,year,cause_name,state,deaths,aadr,Latitude,Longitude
0,2010,Unintentional injuries,Alabama,2394,49.6,32.31823,-86.902298
1,2010,All causes,Alabama,48038,939.7,32.31823,-86.902298
2,2010,Alzheimer's disease,Alabama,1523,31.2,32.31823,-86.902298
3,2010,Stroke,Alabama,2619,51.6,32.31823,-86.902298
4,2010,CLRD,Alabama,2866,55.4,32.31823,-86.902298
...,...,...,...,...,...,...,...
4483,2017,Heart disease,Wyoming,1001,148.9,43.07597,-107.290283
4484,2017,Influenza and pneumonia,Wyoming,115,17.5,43.07597,-107.290283
4485,2017,Suicide,Wyoming,157,26.9,43.07597,-107.290283
4486,2017,Cancer,Wyoming,948,136.1,43.07597,-107.290283
4487,2017,Kidney disease,Wyoming,63,9.5,43.07597,-107.290283

In [33]:
#Check for any null values and sum them up to give total nos.
death_cause_with_coordinates.isnull().sum().sum()

0

# Read data for state code to be used for map

In [38]:
abbr = pd.read_csv("../data.csv")
abbr.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [39]:
abbr=abbr.drop(columns='Abbrev')
abbr_df=abbr.rename(columns = {"State" : "state"})
abbr_df.head()

        state Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [42]:
death_cause_with_coordinates_abbr=pd.merge(death_cause_with_coordinates,abbr_df, on='state')
death_cause_with_coordinates_abbr

,year,cause_name,state,deaths,aadr,Latitude,Longitude,Code
0,2010,Unintentional injuries,Alabama,2394,49.6,32.31823,-86.902298,AL
1,2010,All causes,Alabama,48038,939.7,32.31823,-86.902298,AL
2,2010,Alzheimer's disease,Alabama,1523,31.2,32.31823,-86.902298,AL
3,2010,Stroke,Alabama,2619,51.6,32.31823,-86.902298,AL
4,2010,CLRD,Alabama,2866,55.4,32.31823,-86.902298,AL
...,...,...,...,...,...,...,...,...
4483,2017,Heart disease,Wyoming,1001,148.9,43.07597,-107.290283,WY
4484,2017,Influenza and pneumonia,Wyoming,115,17.5,43.07597,-107.290283,WY
4485,2017,Suicide,Wyoming,157,26.9,43.07597,-107.290283,WY
4486,2017,Cancer,Wyoming,948,136.1,43.07597,-107.290283,WY
4487,2017,Kidney disease,Wyoming,63,9.5,43.07597,-107.290283,WY

In [43]:
death_cause_with_coordinates_abbr.isnull().sum().sum()

0

# Load data to MongoDB cloud

Create account in MongoDB Atlas and set up credentials to connect and deploy database in cluster. For GUI, install Compass or use command line to access database.

In [44]:
import pymongo

In [45]:
# Initialize PyMongo to work with MongoDBs and establish connection with the cluster in cloud using id and password
conn = os.environ.get('MONGODB_URI', '') or "mongodb+srv://<username>:<password>@cluster0-v6uxh.mongodb.net/test?retryWrites=true&w=majority"
client = pymongo.MongoClient(conn)
conn

'mongodb+srv://Harmeet:harmeet123@cluster0-v6uxh.mongodb.net/test?retryWrites=true&w=majority'

# Load state code data into database

In [46]:
# Define database and collection for abbreviation code for states
db = client.complete_death_coord_data
state_code = db.abbr_df

In [47]:
#Add data to the database in cluster
db.state_code.insert_many(abbr_df.to_dict('records'))

In [49]:
code_records=db.state_code.find().limit(5)
for record in code_records:
    print(record)

{'_id': ObjectId('5e0e1cf1288df8bef6866155'), 'state': 'Alabama', 'Code': 'AL'}
{'_id': ObjectId('5e0e1cf1288df8bef6866156'), 'state': 'Alaska', 'Code': 'AK'}
{'_id': ObjectId('5e0e1cf1288df8bef6866157'), 'state': 'Arizona', 'Code': 'AZ'}
{'_id': ObjectId('5e0e1cf1288df8bef6866158'), 'state': 'Arkansas', 'Code': 'AR'}
{'_id': ObjectId('5e0e1cf1288df8bef6866159'), 'state': 'California', 'Code': 'CA'}

# Load death data into database

In [103]:
# Define database and collection 
# db = client.complete_death_coord_data
mortality_records = db.death_cause_with_coordinates

In [104]:
#Code to check connection,troubleshooting. Comment out.  
# testclient = pymongo.MongoClient(conn)
# testdb = testclient.project2
# try: testdb.command("serverStatus")
# except Exception as e: print(e)
# else: print("You are connected!")
# testclient.close()

In [105]:
#Add data to the database in cluster
db.mortality_records.insert_many(death_cause_with_coordinates.to_dict('records'))

In [54]:
#Read data from cluster
records=db.mortality_records.find().limit(5)
for record in records:
    print(record)

{'_id': ObjectId('5df979a0779d988a092769c2'), 'year': 2010, 'cause_name': 'Unintentional injuries', 'state': 'Alabama', 'deaths': 2394, 'aadr': 49, 'Latitude': 32.31823, 'Longitude': -86.902298}
{'_id': ObjectId('5df979a0779d988a092769c3'), 'year': 2010, 'cause_name': 'All causes', 'state': 'Alabama', 'deaths': 48038, 'aadr': 939, 'Latitude': 32.31823, 'Longitude': -86.902298}
{'_id': ObjectId('5df979a0779d988a092769c4'), 'year': 2010, 'cause_name': "Alzheimer's disease", 'state': 'Alabama', 'deaths': 1523, 'aadr': 31, 'Latitude': 32.31823, 'Longitude': -86.902298}
{'_id': ObjectId('5df979a0779d988a092769c5'), 'year': 2010, 'cause_name': 'Stroke', 'state': 'Alabama', 'deaths': 2619, 'aadr': 51, 'Latitude': 32.31823, 'Longitude': -86.902298}
{'_id': ObjectId('5df979a0779d988a092769c6'), 'year': 2010, 'cause_name': 'CLRD', 'state': 'Alabama', 'deaths': 2866, 'aadr': 55, 'Latitude': 32.31823, 'Longitude': -86.902298}